<% content_for :panel_title do %>
    My referrals
<% end %>

<% content_for :panel_body do %>
  <table class="table table-responsive table-striped table-hover" id="datatable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <% @referrals.each do | referral| %>
        <tr>
          <td><%=referral.name %></td>
          <td><%=referral.surname %></td>
          <td><%=referral.status %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

